@charset "UTF-8";

.chkA {
	border: 1px solid #dedede;
	border-radius: 4px;
	width: 100%;
	height: 60px;

	
	cursor: pointer;
    padding: 18
px
;
    font-size: 16rem;
    font-weight: 700;
    border-radius: 6
px
;
    border: 1
px
 solid #ddd;
    width: 100%;
    height: 62
px
;

}

.chkB {
	    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}


.chkB>.txt {
    display: inline-block;
    vertical-align: middle;
    /* margin-left: 5
px
; */
    /* padding-left: 30
px
; */
    /* line-height: 1.6; */
    padding-top: 0
px
;


.chkS{
	cursor: pointer;
}

@charset "UTF-8";

.btn_off{
	        word-wrap: break-word;
    word-break: keep-all;
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    outline: none !important;
    max-height: 1000000px;
    letter-spacing: -0.2px;
    font-family: "Roboto", "Apple SD Gothic Neo", "NotoSansKR", "Malgun Gothic", "BaseLine", Tahoma, "Dotum", "sans-serif", "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla", "segoe ui symbol";
    -webkit-tap-highlight-color: transparent;
    background: #ffffff;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    line-height: 1;
    min-width: 90px;
    padding: 0 10px;
    font-size: 16rem;
    font-weight: 700;
    color: #fff;
    flex: 1;
    margin: 0;
    border-radius: 0;
    height: 56px;
    border: 1px solid #ddd;
    background-color: #ddd;
}

.btn_on{
	    word-wrap: break-word;
    word-break: keep-all;
    -webkit-text-size-adjust: none;
    letter-spacing: -0.2px;
    font-family: "Roboto", "Apple SD Gothic Neo", "NotoSansKR", "Malgun Gothic", "BaseLine", Tahoma, "Dotum", "sans-serif", "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla", "segoe ui symbol";
    box-sizing: border-box;
    outline: none !important;
    margin: 0;
    max-height: 1000000px;
    -webkit-tap-highlight-color: transparent;
    border: 1px solid #dddddd;
    background: #ffffff;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 4px;
    line-height: 1;
    text-decoration: none;
    height: 50px;
    min-width: 50px;
    padding: 0 20px;
    font-size: 15rem;
    font-weight: 700;
    border-color: #669aff;
    background-color: #669aff;
    color: #fff;
    width: 100%;
}

.titadduser {
	
    word-wrap: break-word;
    word-break: keep-all;
    color: #000000;
    -webkit-text-size-adjust: none;
    letter-spacing: -0.2px;
    font-family: "Roboto", "Apple SD Gothic Neo", "NotoSansKR", "Malgun Gothic", "BaseLine", Tahoma, "Dotum", "sans-serif", "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla", "segoe ui symbol";
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    box-sizing: border-box;
    outline: none !important;
    margin: 0;
    padding: 0;
    border: 0;
    max-height: 1000000px;
    font-size: 30rem;
    font-weight: 700;
    line-height: 30rem;
}




