@charset "UTF-8";

.logImage{
	    word-wrap: break-word;
    word-break: keep-all;
    color: #000000;
    line-height: 1.6;
    -webkit-text-size-adjust: none;
    letter-spacing: -0.2px;
    font-size: 14rem;
    font-family: "Roboto", "Apple SD Gothic Neo", "NotoSansKR", "Malgun Gothic", "BaseLine", Tahoma, "Dotum", "sans-serif", "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla", "segoe ui symbol";
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    outline: none !important;
    max-height: 1000000px;
    border-radius: 6px;
    width: 600px;
    height: 800px;
    object-fit: cover;
}


.like_off{
	    word-wrap: break-word;
    word-break: keep-all;
    -webkit-text-size-adjust: none;
    list-style: none;
    outline: none !important;
    max-height: 1000000px;
    letter-spacing: -0.2px;
    font-family: "Roboto", "Apple SD Gothic Neo", "NotoSansKR", "Malgun Gothic", "BaseLine", Tahoma, "Dotum", "sans-serif", "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla", "segoe ui symbol";
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 11rem;
    height: 20px;
    color: #666;
    padding-left: 24px;
    background: no-repeat 0 50%;
    background-size: 20px;
}
.like_btn{
  
       word-wrap: break-word;
    word-break: keep-all;
    -webkit-text-size-adjust: none;
    list-style: none;
    outline: none !important;
    max-height: 1000000px;
    letter-spacing: -0.2px;
    font-family: "Roboto", "Apple SD Gothic Neo", "NotoSansKR", "Malgun Gothic", "BaseLine", Tahoma, "Dotum", "sans-serif", "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla", "segoe ui symbol";
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 11rem;
    height: 20px;
    color: #666;
    padding-left: 24px;
    background: url(/things/image/icon_bar_like_gray.png) no-repeat 0 50%;
    background-size: 20px;
   
    
}

.like_bta{
  
       word-wrap: break-word;
    word-break: keep-all;
    -webkit-text-size-adjust: none;
    list-style: none;
    outline: none !important;
    max-height: 1000000px;
    letter-spacing: -0.2px;
    font-family: "Roboto", "Apple SD Gothic Neo", "NotoSansKR", "Malgun Gothic", "BaseLine", Tahoma, "Dotum", "sans-serif", "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla", "segoe ui symbol";
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 11rem;
    height: 20px;
    color: #666;
    padding-left: 24px;
    background: url(/things/image/icon_bar_like_gray.png) no-repeat 0 50%;
    background-size: 20px;
   
    
}










input.uplikeBtn{
	
	      word-wrap: break-word;
    word-break: keep-all;
    -webkit-text-size-adjust: none;
    list-style: none;
    outline: none !important;
    max-height: 1000000px;
    letter-spacing: -0.2px;
    font-family: "Roboto", "Apple SD Gothic Neo", "NotoSansKR", "Malgun Gothic", "BaseLine", Tahoma, "Dotum", "sans-serif", "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla", "segoe ui symbol";
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 11rem;
    height: 20px;
    color: #666;
    padding-left: 24px;
    
    background-size: 20px;
	
} 









.gag{
	width: 700px;
}

.uploadBlog{
	    word-wrap: break-word;
    word-break: keep-all;
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    outline: none !important;
    max-height: 1000000px;
    letter-spacing: -0.2px;
    font-family: "Roboto", "Apple SD Gothic Neo", "NotoSansKR", "Malgun Gothic", "BaseLine", Tahoma, "Dotum", "sans-serif", "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla", "segoe ui symbol";
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    background: none;
    color: inherit;
    font-size: 16rem;
    width: 100px;
    height: 50px;
    border: #dddddd solid 1px;
    border-radius: 4px;
    margin-left: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    
}

#headBtn{

	text-align: center;
	
}


.tapCh{
	    word-wrap: break-word;
    word-break: keep-all;
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    outline: none !important;
    max-height: 1000000px;
    letter-spacing: -0.2px;
    font-family: "Roboto", "Apple SD Gothic Neo", "NotoSansKR", "Malgun Gothic", "BaseLine", Tahoma, "Dotum", "sans-serif", "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla", "segoe ui symbol";
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    font-size: 16rem;
    font-weight: 400;
    width: 40px;
    height: 30px;
    border: #dddddd solid 1px;
    border-radius: 4px;
    margin-left: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #669aff;
    border-color: #669aff;
}



.logBtnBasic{
    word-wrap: break-word;
    word-break: keep-all;
    -webkit-text-size-adjust: none;
    list-style: none;
    outline: none !important;
    max-height: 1000000px;
    letter-spacing: -0.2px;
    font-family: "Roboto", "Apple SD Gothic Neo", "NotoSansKR", "Malgun Gothic", "BaseLine", Tahoma, "Dotum", "sans-serif", "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla", "segoe ui symbol";
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 11rem;
    height: 20px;
    color: #666;
    padding-left: 24px;
    background: url(/things/image/icon_bar_reply_gray.png) no-repeat 0 50%;
    background-size: 20px;
    
    }

    
    li{
        word-wrap: break-word;
    word-break: keep-all;
    color: #000000;
    line-height: 1.6;
    -webkit-text-size-adjust: none;
    letter-spacing: -0.2px;
    font-family: "Roboto", "Apple SD Gothic Neo", "NotoSansKR", "Malgun Gothic", "BaseLine", Tahoma, "Dotum", "sans-serif", "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla", "segoe ui symbol";
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    outline: none !important;
    margin: 0;
    padding: 0;
    border: 0;
    max-height: 1000000px;
    list-style: none;
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    margin-left: 7px;}
    
    
    
    
    .closeBtn{
        word-wrap: break-word;
    word-break: keep-all;
    line-height: 1.6;
    -webkit-text-size-adjust: none;
    letter-spacing: -0.2px;
    font-family: "Roboto", "Apple SD Gothic Neo", "NotoSansKR", "Malgun Gothic", "BaseLine", Tahoma, "Dotum", "sans-serif", "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla", "segoe ui symbol";
    font-size: 15rem;
    box-sizing: border-box;
    outline: none !important;
    margin: 0;
    padding: 0;
    border: 0;
    max-height: 1000000px;
    color: #000000;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    position: absolute;
    right: 20px;
    top: calc(50% - 12px);
    display: block;
    width: 24px;
    height: 24px;
   background: url(/things/image/icon-bottom-close@2x.png) no-repeat 0 50%;
    background-size: 24px auto;}
    
    
    .btn-share{
    word-wrap: break-word;
    word-break: keep-all;
    -webkit-text-size-adjust: none;
    list-style: none;
    outline: none !important;
    max-height: 1000000px;
    letter-spacing: -0.2px;
    font-family: "Roboto", "Apple SD Gothic Neo", "NotoSansKR", "Malgun Gothic", "BaseLine", Tahoma, "Dotum", "sans-serif", "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla", "segoe ui symbol";
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 11rem;
    height: 20px;
    color: #666;
    padding-left: 24px;
    background: url(/things/image/icon_bar_share_gray.png) no-repeat 0 50%;
    background-size: 20px;
    
    }
    
    .btn-bookmark{
     word-wrap: break-word;
    word-break: keep-all;
    -webkit-text-size-adjust: none;
    list-style: none;
    outline: none !important;
    max-height: 1000000px;
    letter-spacing: -0.2px;
    font-family: "Roboto", "Apple SD Gothic Neo", "NotoSansKR", "Malgun Gothic", "BaseLine", Tahoma, "Dotum", "sans-serif", "apple color emoji", "segoe ui emoji", "noto color emoji", "android emoji", "emojisymbols", "emojione mozilla", "twemoji mozilla", "segoe ui symbol";
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 11rem;
    height: 20px;
    color: #666;
    padding-left: 24px;
    background: url(/things/image/icon_bar_save_gray.png) no-repeat 0 50%;
    background-size: 20px;
    
    }
    
    
    